<div class="title-center">
	<h2>Notre équipe</h2>
	<p>
		Notre équipe talentueuse allie passion et expertise pour créer des expériences culinaires exceptionnelles. Découvrez les maîtres derrière chaque plat.
	</p>
</div>
<div class="wrapper flex-row">
	<div class="chefs-item">
		<img src="../../assets/chefs/chef-1.jpg" />
		<div class="about-chefs">
			<h3>Francisco Moreira</h3>
			<p>Chef</p>
			<ul class="chef-social">
				<li>
					<a
						href=""
						target="”_blank”"
						><i class="fa-brands fa-facebook-f"></i
					></a>
				</li>
				<li>
					<a href="" target="”_blank”"
						><i class="fa-brands fa-instagram"></i
					></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="chefs-item">
		<img src="../../assets/chefs/chef-2.jpg" />
		<div class="about-chefs">
			<h3>Candida Melgo</h3>
			<p>Chef</p>
			<ul class="chef-social">
				<li>
					<a
						href=""
						target="”_blank”"
						><i class="fa-brands fa-facebook-f"></i
					></a>
				</li>
				<li>
					<a href="" target="”_blank”"
						><i class="fa-brands fa-instagram"></i
					></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="chefs-item">
		<img src="../../assets/chefs/chef-3.jpg" />
		<div class="about-chefs">
			<h3>Miguel Moreira</h3>
			<p>Chef</p>
			<ul class="chef-social">
				<li>
					<a
						href=""
						target="”_blank”"
						><i class="fa-brands fa-facebook-f"></i
					></a>
				</li>
				<li>
					<a href="" target="”_blank”"
						><i class="fa-brands fa-instagram"></i
					></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="chefs-item">
		<img src="../../assets/chefs/chef-4.jpg" />
		<div class="about-chefs">
			<h3>Chung Lee</h3>
			<p>Chef</p>
			<ul class="chef-social">
				<li>
					<a
						href=""
						target="”_blank”"
						><i class="fa-brands fa-facebook-f"></i
					></a>
				</li>
				<li>
					<a href="" target="”_blank”"
						><i class="fa-brands fa-instagram"></i
					></a>
				</li>
			</ul>
		</div>
	</div>
</div>
