<div id="contacts">
	<div class="title-center">
		<h2>Contact</h2>
	</div>
	<div class="wrapper flex-row wrapp-contacts">
		<div>
			<h3>
				<i class="fa-solid fa-location-dot"></i>
				Emplacement
			</h3>
			<p>C/ Ensa El jadida, 50000 Haouzia.</p>
		</div>
		<div>
			<h3>
				<i class="fa-solid fa-phone-flip"></i>
				Téléphone
			</h3>
			<p><a class="phone">05 593 972 29</a></p>
		</div>
		<div>
			<h3>
				<i class="fa-solid fa-envelope"></i>
				Email
			</h3>
			<p>AGR-azizi@gmail.com</p>
		</div>
		<div>
			<ul class="footer-social">
				<li>
					<a
						href="https://www.facebook.com/sara.elagri?mibextid=ZbWKwL"
						target="”_blank”"
					>
						<i class="fa-brands fa-facebook-f"></i>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/manal_el_agri?igsh=MTJid3JtNnFtNHNrMg==" target="”_blank”">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-brands fa-youtube"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<p class="copyright">
		Copyright © M&A Project
	</p>
</div>
